<!DOCTYPE html>
<html>
<head>
    <title>Главная</title>
    <meta charset="utf-8" />
    <style>
		th {padding: 10px;}
		p {margin-right: 15px;}
		td {text-align: center;}
	</style>
</head>
<body>
    <h1>Главная</h1>
    <table>
        <thead>
            <tr>
                <td>
                    <p><a href="/counterparties">Контрагенты</a></p>
                </td>
                <td>
                    <p><a href="/nomenclature">Номенклатура</a></p>
                </td>
                <td>
                    <p><a href="/deliveries">Поставки</a></p>
                </td>
                <td>
                    <p><a href="/sales">Продажи</a></p>
                </td>
                <td>
                    <p><a href="/reports">Отчеты</a></p>
                </td>
            </tr>
        </thead>
    </table>
    <h3>Если ДБ еще не создавалась</h3>
    <p>кнопочка ниже создаст ее </p>
    <form method="POST">
        <button type="submit">Создать</button>
    </form>
</body>
<html>